<h1 class="text-3xl font-bold underline text-center">
  Hello world!
</h1>
<p class="text-md text-blue-700 text-wrap leading-tight m-10 font-mono">
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita esse debitis consequatur repudiandae optio accusantium ea tenetur perspiciatis sunt quo eos saepe voluptatum, laborum est quibusdam veritatis repellendus dolorem sit facere accusamus! Id a qui quas cumque. Placeat dolorum officiis minima. Placeat, ea sed. Quia expedita perferendis consequuntur quibusdam.
</p>

<div>
  <!-- <app-login></app-login>
  <app-admin></app-admin>
  <app-users></app-users> -->
  <app-data-binding></app-data-binding>
</div>
